-i https://pypi.org/simple
absl-py==1.1.0
atari-py==0.2.9
certifi==2022.5.18.1
charset-normalizer==2.0.12
chex==0.1.3
cloudpickle==1.3.0
cycler==0.11.0
dm-control==0.0.322773188
dm-env==1.5
dm-haiku==0.0.4
dm-tree==0.1.7
flatbuffers==2.0
future==0.18.2
glfw==2.5.3
gym[atari]==0.17.2
h5py==3.7.0
idna==3.3
jax==0.2.21
jaxlib==0.1.71
kiwisolver==1.4.2
labmaze==1.0.5
lxml==4.9.0
matplotlib==3.4.3
numpy==1.19.2
opencv-python==4.5.5.64
opt-einsum==3.3.0
optax==0.1.2
pandas==1.1.2
patsy==0.5.2
pillow==9.1.1
protobuf==4.21.1
pyglet==1.5.0
pyopengl==3.1.6
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
pyyaml==5.3.1
requests==2.27.1
-e git+https://github.com/kew96/rljax@f80998b7698e87ee9f81b159ba33d619e4cf77c1#egg=rljax
scipy==1.7.3
setuptools==62.3.2
six==1.16.0
statsmodels==0.12.2
tabulate==0.8.9
tensorboardx==2.1
toolz==0.11.2
tqdm==4.48.2
typing-extensions==4.2.0
urllib3==1.26.9
